@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Monsieur+La+Doulaise&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
    
}
a{
    text-decoration: none;
}

/* Meet member section starts from here *********************************************** */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;            
    border-radius: 18px;
}
.meet{
    background: black;
    padding: 4.5rem 0;
}
.meet h3{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.meet> p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 14px 0 58px;
    text-align: center;
}
.member-container{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 32%);
    background: #1A1A1A;
    padding: 20px;
    border-radius: 18px;           
    position: relative;
}
.member-container .member{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);            
    border-radius: 18px;
}
.member-description{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.member-description h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.member-description p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}


/* Footer section starts from here***************************************************** */
.footer{
    background: rgb(26, 26, 26);
}
footer{
    max-width: 1060px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    gap: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

}
footer .item1{
    flex: 5;
}
footer .item2, .item3{
    flex: 3;
}
footer .item1 h3{
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
}
footer p, a{
    color: rgba(255, 255, 255, 0.5);
}
footer .item1 p{
    font-size: 0.875rem;
    margin: 20px 0;
}
footer .item2 h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
footer .item3 h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
footer p{
    margin-bottom: 1.25rem;
}
footer p a{
    font-size: 1.5rem;
}
.footer-caption{
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.footer-caption p{
    color: rgba(255, 255, 255, 0.5);
}






@media screen and (max-width: 576px){
    footer{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
    .meet{
        padding-left: 20px;
        padding-right: 20px;
    }
    .member-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 100%);
    }
}
@media screen and (min-width: 992px) and (max-width: 1060px){
    footer{
        margin: 44px 20px 0;
    }
}
