@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mea+Culpa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
    
}
        input[type="submit"]{
    max-width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
}
h3{
    font-size: 3rem;
    font-weight: 900;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;   
    line-height: 1.5rem;
}

a{
    text-decoration: none;
}
.nav{
    background: linear-gradient(to top, black, rgb(36, 35, 35), black);
    /* background: linear-gradient(
        rgb(17, 17, 17),
        rgb(119, 119, 119),
        rgb(17, 17, 17)
    ); */
    background-blend-mode: overlay;

}
.nav-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    margin-bottom: 2rem;
}
.site-name h3{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
}
.menu-container ul{
    display: flex;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    
}
.menu-container ul li{
    margin-left: 3rem;
    padding: 8px 20px;
    border-radius: 46px;
}
.menu-container ul li:first-child{
    margin-left: 0;
    background: rgb(230, 83, 60);
}
.menu-container ul li:first-child a{
    background: rgb(230, 83, 60);
}
.menu-container a{
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
}
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding-top: 5px;
}
/* ********************************************************* */

.poster-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.poster-text h3{
    font-size: 5rem;
    font-weight: 900;
    
}
.poster-text p{  
    margin: 1.75rem 0;
}
.shape{
    font-family: "Mea Culpa", cursive;
    font-weight: 300;
    font-size: 9rem;
    line-height: 0%;
}
#download{
    border: 1px solid rgb(255, 255, 255);
    background: none;
    margin-left: 10px;
}
.poster-image{
    position: relative;
}
.poster-image h3{
    font-size: 2.5rem;
}
.workout, .tutorial{
    max-width: 220px;
    padding: 10px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(57, 57, 57, 0.4);
    backdrop-filter: blur(5px);
}
.workout{
    position: absolute;
    top: 120px;
    right: -15px;
}
.tutorial{
    position: absolute;
    bottom: 65px;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tutorial h3{
    font-size: 24px;
    padding: 6px 0;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
}

/* change habit section starts from here ****************************************************** */
.change-habit{
    background: #000000;
    text-align: center;
}
.habit-description{
    max-width: 670px;
    margin: 0 auto;
}
.habit-description h3{
    padding: 100px 0 14px;
}
.habit-card-container{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    gap: 25px;
}
.habit-card-container img{
    border: 5px solid #1A1A1A;
    border-radius: 50%;
}
.habit-card-container h5{
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0 6px;
}
.habit-card-container p{
    line-height: 1rem;
}
/* run an extra time section starts from here ************************************** */
.run{
    background: #000000;    
    padding-top: 6rem;
}
.run-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 2.5rem 3rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    gap: 150px;
}
.run-description{
    flex: 4;
}
.run-description p{
    margin-top: 14px;
}
.run-image{
    flex: 3;
}
.run-image>img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 67% 31%;            
    border-radius: 18px;
}

/* **** Calculator section starts from here ***************************************** */

.calculator-heading-full{
    background: #000000;

}
.calculator-heading-container{
    max-width: 670px;
    margin: 0 auto;
    padding: 4rem 0;
}
.calculator-heading-container h3{
    margin-bottom: 1rem;
}

.calculator-full{
    background: #222222;
}
.calculator-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.calculator-chart{
    flex: 1;
}
.calculate-your-bmi-container{
    flex: 1;
}
.calculator-container h4{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}
table{
    margin: 2rem 0;
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    font-size: 1rem;
    font-weight: 500;
}
td{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.calculate-your-bmi-container p{
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}
input, select {
    width: 49%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
#sex{
    width: 99%;
}

option{
    color: black;
}
/* Curve section starts here *************************************************** */
.creation{
    background: #222222;
    padding-bottom: 50px;
}
.creation-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}
.creation-img{
    flex: 3;         
    background-image: url('./images/Bodyfitbyamy-13a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 18px;
    
    /* display: inline-block; */
    /* overflow: hidden; */
    
}
.creation-description{
    flex: 4;
}
.creation-description h4{
    margin: 10px 0px;
    font-size: 1.5rem;
}
.creation hr{
    margin: 20px 0 35px 0;
}
.curve-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: black;
    margin-top: 50px;
}

.curve-container svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.curve-container .shape-fill {
    fill: #222222;
}

/* Meet member section starts from here *********************************************** */

.meet{
    background: black;
    padding: 4.5rem 0;
    margin-top: 100px;
}
.meet h3{
    text-align: center;
}
.meet> p{
    margin: 14px 0 58px;
    text-align: center;
}
.member-container{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 32%);
    background: #1A1A1A;
    padding: 20px;
    border-radius: 18px;           
    position: relative;
}
.member-container .member{
    position: relative;
}
.member> img{
    width: 100%;
    height: 100%;
    object-fit: cover;            
    border-radius: 18px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);            
    border-radius: 18px;
}
.member-description{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.member-description h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

/* Footer section starts from here***************************************************** */
.footer{
    background: rgb(26, 26, 26);
}
footer{
    max-width: 1060px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    gap: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

}
footer .item1{
    flex: 5;
}
footer .item2, .item3{
    flex: 3;
}
footer .item1 h3{
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
}
footer p, a{
    color: rgba(255, 255, 255, 0.5);
}
footer .item1 p{
    margin: 20px 0;
}
footer .item2 h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
footer .item3 h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
footer p{
    margin-bottom: 1.25rem;
}
footer p a{
    font-size: 1.5rem;
}
.footer-caption{
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.footer-caption p{
    color: rgba(255, 255, 255, 0.5);
}






@media screen and (max-width: 576px){
    .menu-container ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menu-icon {
        display: block;
    }
    .menu-container ul li {
        text-align: center;
        margin: 10px 0;
    }
    .menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }
    .nav{
        padding: 0px 20px;
    }
    .poster-container{
        flex-direction: column;
        gap: 50px;
    }
    .change-habit{
        padding: 0px 20px;
    }
    .habit-description h3{
        padding-top: 10px;
    }
    .habit-card-container{
        flex-direction: column;
        gap: 30px;
    }
    .habit-card-container img{
        width: 60%;
    }
    .habit-card-container p{
        margin: 0 150px;
    }
    .run-container{
        margin: 0px 20px;
        gap: 30px;
    }
    .run-image>img{
        object-fit: cover;
    }
    .calculator-container, .run-container{
        flex-direction: column;
    }
    .calculator-heading-container, .calculator-container{
        margin: 0px 20px;
    }
    .creation-container{
        flex-direction: column;
        margin: 0px 20px;
    }
    .creation-img{
        min-height: 500px;
    }
    .member-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 100%);
    }
    .meet{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
    
    
    
    
}
@media screen and (min-width: 992px) and (max-width: 1060px){
    .poster-container{
        gap: 50px;
    }
    .workout{
        top: 152px;
        right: 2px;
    }
    .calculator-container{
        flex-direction: column;
    }
    .calculator-heading-container, .calculator-container{
        margin: 0px 20px;
    }
    footer{
        margin: 0px 20px 0;
    }
    
}
